{% extends "auctions/layout.html" %}

{% block body %}

    {% for listing in listings %}
<a href="{% url 'listing' listing.id %}">
    <table class="table table-hover table-dark">
    <tr>
        <td>Listing: {{listing.title}} <br>Category: {{listing.categorytype}}</td>
        <td><img src="{% if listing.picture %}{{ listing.picture }}{% endif %}" alt="No picture" style="max-width: 80%; max-height: 200px;"></td>
    </tr>
    <tr>
        <td>{{listing.description}}</td>
        <td>{{listing.startingbid}} Ft</td>
    </tr>
</table></a>
<hr>
    {% endfor %}

{% endblock %}